<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/chat-logo.png" />
    <title>Aahho Messenger</title>
  </head>
  <body>
    <div class="card text-center body-alignment">
      <div class="card-header">
        <ul class="row nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/?template=user_view">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/?template=channel_view">Channel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/?template=log_view">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled nav-button-float-right" href="#">Powered By Aahho</a>
          </li>
        </ul>
      </div>
      <div class="card-body" id="card-body">
        <h5 class="card-title" style="color: #007bff;">Welcome to Chat Application</h5>
        <p class="card-text" style="color: #007bff;">
          Well alright! We have built a Real Time Chat Application. Its is using MongoDB as its database for storing your messages. Its a real fast application
        </p>
        <a href="/view/?template=log_view" class="btn btn-primary">Start Chat</a>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>